# Basic workflow for utilizing GitHub Actions for CI on UiPath projects

name: UiPath CI/CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  # URL to the Orchestrator instance
  ORCHESTRATOR_URL: "https://cloud.uipath.com/"
  # Folder in UiPath Orchestrator, for Modern Folder use
  ORCHESTRATOR_FOLDER: "Shared"

jobs:
  pack:
    # The type of runner that the job will run on
    runs-on: windows-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      
      # The UiPath CLI is installed on Runner
      - run: dotnet tool install UiPath.CLI.Windows --global
      
      # Run workflow analysis on and pack UiPath projects
      - id: pack
        uses: ./
        with:
          orchestratorUrl: ${{ env.ORCHESTRATOR_URL }}
          orchestratorTenant: ${{ secrets.UIPATH_TENANT }}
          orchestratorFolder: ${{ env.ORCHESTRATOR_FOLDER }}
          orchestratorApplicationId: ${{ secrets.UIPATH_APP_ID }}
          orchestratorApplicationSecret: ${{ secrets.UIPATH_APP_SECRET }}
          orchestratorApplicationScope: ${{ secrets.UIPATH_APP_SCOPE }}
          orchestratorLogicalName: ${{ secrets.UIPATH_ORGANIZATION_ID }}
          projectVersion: '1.0.0'
          releaseNotes: 'Initial release'

      # Upload packages as build artifacts to be handled by deploy job
      - uses: actions/upload-artifact@v6
        with:
          name: pack-artifact
          path: ${{ steps.pack.outputs.packagesPath }}
          if-no-files-found: error
          retention-days: 90

  pack-with-multi-file-input:
    runs-on: windows-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      
      # The UiPath CLI is installed on Runner
      - run: dotnet tool install UiPath.CLI.Windows --global
      
      # Run workflow analysis on and pack UiPath projects
      - id: pack
        uses: ./
        with:
          projectFilePaths: | 
            WindowsProject/project.json
            Crossplatform Project/project.json
          orchestratorUrl: ${{ env.ORCHESTRATOR_URL }}
          orchestratorTenant: ${{ secrets.UIPATH_TENANT }}
          orchestratorFolder: ${{ env.ORCHESTRATOR_FOLDER }}
          orchestratorApplicationId: ${{ secrets.UIPATH_APP_ID }}
          orchestratorApplicationSecret: ${{ secrets.UIPATH_APP_SECRET }}
          orchestratorApplicationScope: ${{ secrets.UIPATH_APP_SCOPE }}
          orchestratorLogicalName: ${{ secrets.UIPATH_ORGANIZATION_ID }}
          projectVersion: '1.0.0'
          releaseNotes: 'Initial release with file input'

      # Upload packages as build artifacts to be handled by deploy job
      - uses: actions/upload-artifact@v6
        with:
          name: pack-with-file-input
          path: ${{ steps.pack.outputs.packagesPath }}
          if-no-files-found: error
          retention-days: 90

  pack-with-ubuntu:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      
      - run: dotnet tool install UiPath.CLI.Linux --global

      - name: setup-dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
      
      # Run workflow analysis on and pack UiPath projects
      - id: pack
        uses: ./
        with:
          projectFilePaths: | 
            Crossplatform Project/project.json
          orchestratorUrl: ${{ env.ORCHESTRATOR_URL }}
          orchestratorTenant: ${{ secrets.UIPATH_TENANT }}
          orchestratorFolder: ${{ env.ORCHESTRATOR_FOLDER }}
          orchestratorApplicationId: ${{ secrets.UIPATH_APP_ID }}
          orchestratorApplicationSecret: ${{ secrets.UIPATH_APP_SECRET }}
          orchestratorApplicationScope: ${{ secrets.UIPATH_APP_SCOPE }}
          orchestratorLogicalName: ${{ secrets.UIPATH_ORGANIZATION_ID }}
          projectVersion: '1.0.0'
          releaseNotes: 'Initial release with file input'

      # Upload packages as build artifacts to be handled by deploy job
      - uses: actions/upload-artifact@v4
        with:
          name: pack-with-ubuntu
          path: ${{ steps.pack.outputs.packagesPath }}
          if-no-files-found: error
          retention-days: 90